/* App.css */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f4f4f4;
}

#root {
  /* 모바일 화면 크기를 고정 */
  width: 450px; /* iPhone 12와 같은 모바일 화면 너비 */
  height: "100%"; /* iPhone 12와 같은 모바일 화면 높이 */
  min-height: 100vh;
  margin: 0 auto; /* 화면 중앙에 위치 */
  background-color: #fff;
  border: 1px solid #ccc; /* 데스크톱에서 확인용으로 테두리 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 데스크톱에서 모바일처럼 보이도록 그림자 */
  --vh: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: "100%";
  height: "100%";
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}
